<!DOCTYPE html>
<html>
<head>
    <title>Predicción del precio de las cosechas</title>
    <script>
        function clasificarTrastorno(event) {
            event.preventDefault();
            const CostCultivation = document.getElementById('CostCultivation').value;
            const CostCultivation2 = document.getElementById('CostCultivation2').value;
            const Yield = document.getElementById('Yield').value;
            const RainFallAnnual = document.getElementById('RainFallAnnual').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `CostCultivation=${CostCultivation}&CostCultivation2=${CostCultivation2}&Yield=${Yield}&RainFallAnnual=${RainFallAnnual}`,
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'Predicción del precio final del cultivo: ' + data.categoria;
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Predicción del precio de las cosechas</h1>
    <h3>Datos para realizar pruebas</h3>
    <img src="../static/Pruebas.jpeg" alt="Datos de pruebas">
    <form id="formulario" onsubmit="clasificarTrastorno(event)">
        <label for="CostCultivation">Costo del cultivo (proceso de siembra. 'CostCultivation'):</label>
        <input type="text" id="CostCultivation" name="CostCultivation"><br><br>
        
        <label for="CostCultivation2">Costo del cultivo (proceso de cosecha. 'CostCultivation2'):</label>
        <input type="text" id="CostCultivation2" name="CostCultivation2"><br><br>

        <label for="Yield">Produccion de cultivo (Yield):</label>
        <input type="text" id="Yield" name="Yield"><br><br>
        
        <label for="RainFallAnnual">Precipitación Anual ():</label>
        <input type="text" id="RainFallAnnual" name="RainFallAnnual"><br><br>
        
        
        <input type="submit" value="Enviar">
    </form>
    <p id="resultado"></p>
</body>
</html>